# Taming JSON


JavaScript-based web pages are different than most HTML/CSS pages you are familiar with. JavaScript sites are dynamic because their cotent is generated, loaded, or modified in the browser using JavaScript, rather than having the server send all the content onto the pages.

The data that is served is more of often than not JSON, or JavaScript Object Notation. It is a light-weight data storage format that is now the most prevalent way that information is held in databases and web applications – data that is often critical to our reporting. At the same time JSON can be difficult to parse because it is so customizable that we often find it with deeply nested (and at times, confusing) logic.

To really know how to work with JSON files, we have to understand their structure.

## Types of JSON objects

##### Large but Easy (and in a file)

<a href="https://drive.google.com/file/d/14LwQ7a9nDw8ytZHxXukJ0EO_IexI1Yr4/view?usp=share_link">Download</a>: ```guns.json```

<a href="https://drive.google.com/file/d/186JTxLB_TLVN1RGss7EyzWtFdzomJD-0/view?usp=share_link">Download:</a> ```gun-data-in-json-file.json```

<a href="https://drive.google.com/file/d/19zUdrkT08OSKD0sWFSeRG68P56tjI1yp/view?usp=share_link">Download</a>: ```countries.json```

What's the difference between these files?

#### Small but Complex (in your notebook):

In [ ]:
## run this cell
[{'publication': 'Bloomberg news',
  'location': 'New York',
  'reach': 'Global',
  'info': {'editor': 'John Micklethwait',
   'contacts': {'email': {'tips': 'tips@bloomberg.net',
     'general': 'info@bloomberg.net'},
    'tel': '123456789'}}},
 {'publication': 'The New York Times',
  'location': 'New York',
  'reach': 'Global',
  'info': {'editor': 'Josehp Kahn',
   'contacts': {'email': {'tips': 'tips@nytimes.com',
     'general': 'info@nytimes.com'},
    'tel': '987654321'}}}]

#### Massive and Nested (and on a server)

<a href="https://epicovcharts.bii.a-star.edu.sg/variants-dashboard/data/variants_countries_count.json">Global COVID data</a>

#### Deeply nested API elections sanple data:

```json
{
  "apiVersion": "3.0",
  "apiBuild": "3.0.585",
  "electionDate": "2022-06-21",
  "timestamp": "2023-04-25T13:05:18.342Z",
  "races": [
    {
      "eventID": "VA-20220621_Testday",
      "stateID": 47,
      "test": true,
      "resultsType": "test",
      "raceID": "47434",
      "raceType": "Primary",
      "raceTypeID": "R",
      "officeID": "H",
      "officeName": "U.S. House",
      "party": "GOP",
      "eevp": 0.0,
      "national": true,
      "uncontested": true,
      "seatName": "District 1",
      "seatNum": "1",
      "reportingUnits": [
        {
          "statePostal": "VA",
          "stateName": "Virginia",
          "reportingunitID": 47,
          "reportingunitLevel": 1,
          "pollClosingTime": "2022-06-21T23:00:00.000Z",
          "level": "state",
          "lastUpdated": "2022-06-21T16:43:40.962Z",
          "precinctsReporting": 0,
          "eevp": 0.0,
          "precinctsTotal": 230,
          "precinctsReportingPct": 0.0,
          "candidates": [
            {
              "first": "Rob",
              "last": "Wittman",
              "party": "GOP",
              "incumbent": true,
              "candidateID": "51892",
              "polID": "57798",
              "ballotOrder": 1,
              "polNum": "49141",
              "voteCount": 0
            }
          ]
        }
      ]
    },
    {
      "eventID": "VA-20220621_Testday",
      "stateID": 47,
      "test": true,
      "resultsType": "test",
      "raceID": "47609",
      "raceType": "Primary",
      "raceTypeID": "D",
      "officeID": "H",
      "officeName": "U.S. House",
      "party": "Dem",
      "eevp": 0.0,
      "national": true,
      "uncontested": true,
      "seatName": "District 1",
      "seatNum": "1",
      "reportingUnits": [
        {
          "statePostal": "VA",
          "stateName": "Virginia",
          "reportingunitID": 47,
          "reportingunitLevel": 1,
          "pollClosingTime": "2022-06-21T23:00:00.000Z",
          "level": "state",
          "lastUpdated": "2022-06-21T16:43:40.978Z",
          "precinctsReporting": 0,
          "eevp": 0.0,
          "precinctsTotal": 230,
          "precinctsReportingPct": 0.0,
          "candidates": [
            {
              "first": "Herb",
              "last": "Jones",
              "party": "Dem",
              "candidateID": "51903",
              "polID": "70894",
              "ballotOrder": 1,
              "polNum": "49634",
              "voteCount": 0
            }
          ]
        }
      ]
    },
    {
      "eventID": "VA-20220621_Testday",
      "stateID": 47,
      "test": true,
      "resultsType": "test",
      "raceID": "47780",
      "raceType": "Primary",
      "raceTypeID": "D",
      "officeID": "H",
      "officeName": "U.S. House",
      "party": "Dem",
      "eevp": 0.0,
      "national": true,
      "uncontested": true,
      "seatName": "District 2",
      "seatNum": "2",
      "reportingUnits": [
        {
          "statePostal": "VA",
          "stateName": "Virginia",
          "reportingunitID": 47,
          "reportingunitLevel": 1,
          "pollClosingTime": "2022-06-21T23:00:00.000Z",
          "level": "state",
          "lastUpdated": "2022-06-21T16:43:40.991Z",
          "precinctsReporting": 0,
          "eevp": 0.0,
          "precinctsTotal": 236,
          "precinctsReportingPct": 0.0,
          "candidates": [
            {
              "first": "Elaine",
              "last": "Luria",
              "party": "Dem",
              "incumbent": true,
              "candidateID": "51893",
              "polID": "66930",
              "ballotOrder": 1,
              "polNum": "49514",
              "voteCount": 0
            }
          ]
        }
      ]
    },
    {
      "eventID": "VA-20220621_Testday",
      "stateID": 47,
      "test": true,
      "resultsType": "test",
      "raceID": "47781",
      "raceType": "Primary",
      "raceTypeID": "D",
      "officeID": "H",
      "officeName": "U.S. House",
      "party": "Dem",
      "eevp": 0.0,
      "national": true,
      "uncontested": true,
      "seatName": "District 3",
      "seatNum": "3",
      "reportingUnits": [
        {
          "statePostal": "VA",
          "stateName": "Virginia",
          "reportingunitID": 47,
          "reportingunitLevel": 1,
          "pollClosingTime": "2022-06-21T23:00:00.000Z",
          "level": "state",
          "lastUpdated": "2022-06-21T16:43:41.002Z",
          "precinctsReporting": 0,
          "eevp": 0.0,
          "precinctsTotal": 201,
          "precinctsReportingPct": 0.0,
          "candidates": [
            {
              "first": "Bobby",
              "last": "Scott",
              "party": "Dem",
              "incumbent": true,
              "candidateID": "51894",
              "polID": "1451",
              "ballotOrder": 1,
              "polNum": "48182",
              "voteCount": 0
            }
          ]
        }
      ]
    }
  ]
}
```

## Reading JSON objects

In [8]:
## import libraries
import pandas as pd
import requests

### Read ```JSON``` file

#### Sometimes, we are in luck with a cleanly packaged ```JSON``` file that is not nested and plays nice.

All we need is ```pd.read_json("file_path")```

In [10]:
## these files can be read right into a df
pd.read_json("guns.json")

,occur_year,boro,precinct,statistical_murder_flag,vic_age_group,vic_sex,vic_race
0,2006,The Bronx,41,No,25-44,Male,White Hispanic
1,2006,Manhattan,34,No,18-24,Male,White Hispanic
2,2006,Manhattan,34,No,18-24,Male,White Hispanic
3,2006,The Bronx,44,No,18-24,Female,White Hispanic
4,2006,Brooklyn,81,No,25-44,Male,Black
...,...,...,...,...,...,...,...
20654,2018,Queens,103,No,25-44,Male,White
20655,2018,Brooklyn,70,No,18-24,Male,Black
20656,2018,Brooklyn,70,No,25-44,Male,Black
20657,2018,Brooklyn,73,No,25-44,Male,Black
20658,2018,The Bronx,40,No,25-44,Male,Black

#### ... and easily exported as a csv file:

In [ ]:
## export as csv file
df.to_csv("guns_nyc.csv", encoding = "UTF-8", index = False)

### What about this file:

```gun-data-in-json-file.json```

In [13]:
## READ into df
pd.read_json("gun-data-in-json-file.json")

                                            gun-data
0  {'occur_year': '2006', 'boro': 'The Bronx', 'p...
1  {'occur_year': '2006', 'boro': 'Manhattan', 'p...
2  {'occur_year': '2006', 'boro': 'Manhattan', 'p...
3  {'occur_year': '2006', 'boro': 'The Bronx', 'p...

## ```json.load()``` v. ```json.loads()```

The ```json``` package has two similarly named methods that each do something quite different:

- ```.load()``` creates a ```Python Dictionary``` from a **```json``` file.**
- ```.loads()``` creates a ```Python Dictionary``` from a **```json``` string**.

In [17]:
## import python's json package
import json

#### Import ```json``` file

In [23]:
## open and load json file
with open("guns.json", "r") as j:
    gun_data = json.load(j)

In [25]:
# What type of object? 
type(j)

_io.TextIOWrapper

In [27]:
# What type of object?
type(gun_data)

list

In [31]:
# Call it again. 
type(gun_data[0])

dict

In [33]:
# Turn into DataFrame 
pd.DataFrame(gun_data)

,occur_year,boro,precinct,statistical_murder_flag,vic_age_group,vic_sex,vic_race
0,2006,The Bronx,41,No,25-44,Male,White Hispanic
1,2006,Manhattan,34,No,18-24,Male,White Hispanic
2,2006,Manhattan,34,No,18-24,Male,White Hispanic
3,2006,The Bronx,44,No,18-24,Female,White Hispanic
4,2006,Brooklyn,81,No,25-44,Male,Black
...,...,...,...,...,...,...,...
20654,2018,Queens,103,No,25-44,Male,White
20655,2018,Brooklyn,70,No,18-24,Male,Black
20656,2018,Brooklyn,70,No,25-44,Male,Black
20657,2018,Brooklyn,73,No,25-44,Male,Black
20658,2018,The Bronx,40,No,25-44,Male,Black

#### Import ```json``` file

In [37]:
## open and load json file
with open("gun-data-in-json-file.json", "r") as j:
    gun_data_file = json.load(j)

In [39]:
## type of data
type(gun_data_file)

dict

In [47]:
gun_data_file

{'gun-data': [{'occur_year': '2006',
   'boro': 'The Bronx',
   'precinct': 41,
   'statistical_murder_flag': 'No',
   'vic_age_group': '25-44',
   'vic_sex': 'Male',
   'vic_race': 'White Hispanic'},
  {'occur_year': '2006',
   'boro': 'Manhattan',
   'precinct': 34,
   'statistical_murder_flag': 'No',
   'vic_age_group': '18-24',
   'vic_sex': 'Male',
   'vic_race': 'White Hispanic'},
  {'occur_year': '2006',
   'boro': 'Manhattan',
   'precinct': 34,
   'statistical_murder_flag': 'No',
   'vic_age_group': '18-24',
   'vic_sex': 'Male',
   'vic_race': 'White Hispanic'},
  {'occur_year': '2006',
   'boro': 'The Bronx',
   'precinct': 44,
   'statistical_murder_flag': 'No',
   'vic_age_group': '18-24',
   'vic_sex': 'Female',
   'vic_race': 'White Hispanic'}]}

In [49]:
## call the keys
gun_data_file.keys()

dict_keys(['gun-data'])

In [51]:
## get data from the key above:
gun_data_file.get("gun-data")

[{'occur_year': '2006',
  'boro': 'The Bronx',
  'precinct': 41,
  'statistical_murder_flag': 'No',
  'vic_age_group': '25-44',
  'vic_sex': 'Male',
  'vic_race': 'White Hispanic'},
 {'occur_year': '2006',
  'boro': 'Manhattan',
  'precinct': 34,
  'statistical_murder_flag': 'No',
  'vic_age_group': '18-24',
  'vic_sex': 'Male',
  'vic_race': 'White Hispanic'},
 {'occur_year': '2006',
  'boro': 'Manhattan',
  'precinct': 34,
  'statistical_murder_flag': 'No',
  'vic_age_group': '18-24',
  'vic_sex': 'Male',
  'vic_race': 'White Hispanic'},
 {'occur_year': '2006',
  'boro': 'The Bronx',
  'precinct': 44,
  'statistical_murder_flag': 'No',
  'vic_age_group': '18-24',
  'vic_sex': 'Female',
  'vic_race': 'White Hispanic'}]

In [53]:
## turn into a dataframe
pd.DataFrame(gun_data_file.get("gun-data"))

,occur_year,boro,precinct,statistical_murder_flag,vic_age_group,vic_sex,vic_race
0,2006,The Bronx,41,No,25-44,Male,White Hispanic
1,2006,Manhattan,34,No,18-24,Male,White Hispanic
2,2006,Manhattan,34,No,18-24,Male,White Hispanic
3,2006,The Bronx,44,No,18-24,Female,White Hispanic

In [55]:
## flatten via dictionary get
my_data = gun_data_file.get("gun-data")
my_data

[{'occur_year': '2006',
  'boro': 'The Bronx',
  'precinct': 41,
  'statistical_murder_flag': 'No',
  'vic_age_group': '25-44',
  'vic_sex': 'Male',
  'vic_race': 'White Hispanic'},
 {'occur_year': '2006',
  'boro': 'Manhattan',
  'precinct': 34,
  'statistical_murder_flag': 'No',
  'vic_age_group': '18-24',
  'vic_sex': 'Male',
  'vic_race': 'White Hispanic'},
 {'occur_year': '2006',
  'boro': 'Manhattan',
  'precinct': 34,
  'statistical_murder_flag': 'No',
  'vic_age_group': '18-24',
  'vic_sex': 'Male',
  'vic_race': 'White Hispanic'},
 {'occur_year': '2006',
  'boro': 'The Bronx',
  'precinct': 44,
  'statistical_murder_flag': 'No',
  'vic_age_group': '18-24',
  'vic_sex': 'Female',
  'vic_race': 'White Hispanic'}]

## Import ```json``` string

Most the time, your scrapes will return a JSON string, not a JSON file.

In [59]:
## run this cell that holds a json string
my_json = '''
{
	"gun-data":

		[{
				"occur_year": "2006",
				"boro": "The Bronx",
				"precinct": 41,
				"statistical_murder_flag": "No",
				"vic_age_group": "25-44",
				"vic_sex": "Male",
				"vic_race": "White Hispanic",
				"solved": true
			},

			{

				"occur_year": "2006",
				"boro": "Manhattan",
				"precinct": 34,
				"statistical_murder_flag": "No",
				"vic_age_group": "18-24",
				"vic_sex": "Male",
				"vic_race": "White Hispanic",
				"solved": true

			},
			{
				"occur_year": "2006",
				"boro": "Manhattan",
				"precinct": 34,
				"statistical_murder_flag": "No",
				"vic_age_group": "18-24",
				"vic_sex": "Male",
				"vic_race": "White Hispanic",
				"solved": false
			},
			{
				"occur_year": "2006",
				"boro": "The Bronx",
				"precinct": 44,
				"statistical_murder_flag": "No",
				"vic_age_group": "18-24",
				"vic_sex": "Female",
				"vic_race": "White Hispanic",
				"solved": false
			}
		]

}

'''

In [61]:
## call my_json

my_json

'\n{\n\t"gun-data":\n\n\t\t[{\n\t\t\t\t"occur_year": "2006",\n\t\t\t\t"boro": "The Bronx",\n\t\t\t\t"precinct": 41,\n\t\t\t\t"statistical_murder_flag": "No",\n\t\t\t\t"vic_age_group": "25-44",\n\t\t\t\t"vic_sex": "Male",\n\t\t\t\t"vic_race": "White Hispanic",\n\t\t\t\t"solved": true\n\t\t\t},\n\n\t\t\t{\n\n\t\t\t\t"occur_year": "2006",\n\t\t\t\t"boro": "Manhattan",\n\t\t\t\t"precinct": 34,\n\t\t\t\t"statistical_murder_flag": "No",\n\t\t\t\t"vic_age_group": "18-24",\n\t\t\t\t"vic_sex": "Male",\n\t\t\t\t"vic_race": "White Hispanic",\n\t\t\t\t"solved": true\n\n\t\t\t},\n\t\t\t{\n\t\t\t\t"occur_year": "2006",\n\t\t\t\t"boro": "Manhattan",\n\t\t\t\t"precinct": 34,\n\t\t\t\t"statistical_murder_flag": "No",\n\t\t\t\t"vic_age_group": "18-24",\n\t\t\t\t"vic_sex": "Male",\n\t\t\t\t"vic_race": "White Hispanic",\n\t\t\t\t"solved": false\n\t\t\t},\n\t\t\t{\n\t\t\t\t"occur_year": "2006",\n\t\t\t\t"boro": "The Bronx",\n\t\t\t\t"precinct": 44,\n\t\t\t\t"statistical_murder_flag": "No",\n\t\t\t\t"vic_age_group": "18-24",\n\t\t\t\t"vic_sex": "Female",\n\t\t\t\t"vic_race": "White Hispanic",\n\t\t\t\t"solved": false\n\t\t\t}\n\t\t]\n\n}\n\n'

In [63]:
## print my_json
print(my_json)

{
	"gun-data":

		[{
				"occur_year": "2006",
				"boro": "The Bronx",
				"precinct": 41,
				"statistical_murder_flag": "No",
				"vic_age_group": "25-44",
				"vic_sex": "Male",
				"vic_race": "White Hispanic",
				"solved": true
			},

			{

				"occur_year": "2006",
				"boro": "Manhattan",
				"precinct": 34,
				"statistical_murder_flag": "No",
				"vic_age_group": "18-24",
				"vic_sex": "Male",
				"vic_race": "White Hispanic",
				"solved": true

			},
			{
				"occur_year": "2006",
				"boro": "Manhattan",
				"precinct": 34,
				"statistical_murder_flag": "No",
				"vic_age_group": "18-24",
				"vic_sex": "Male",
				"vic_race": "White Hispanic",
				"solved": false
			},
			{
				"occur_year": "2006",
				"boro": "The Bronx",
				"precinct": 44,
				"statistical_murder_flag": "No",
				"vic_age_group": "18-24",
				"vic_sex": "Female",
				"vic_race": "White Hispanic",
				"solved": false
			}
		]

}

In [65]:
## what type of data?
type(my_json)

str

In [69]:
## load json string
guns_s = json.loads(my_json)
guns_s

{'gun-data': [{'occur_year': '2006',
   'boro': 'The Bronx',
   'precinct': 41,
   'statistical_murder_flag': 'No',
   'vic_age_group': '25-44',
   'vic_sex': 'Male',
   'vic_race': 'White Hispanic',
   'solved': True},
  {'occur_year': '2006',
   'boro': 'Manhattan',
   'precinct': 34,
   'statistical_murder_flag': 'No',
   'vic_age_group': '18-24',
   'vic_sex': 'Male',
   'vic_race': 'White Hispanic',
   'solved': True},
  {'occur_year': '2006',
   'boro': 'Manhattan',
   'precinct': 34,
   'statistical_murder_flag': 'No',
   'vic_age_group': '18-24',
   'vic_sex': 'Male',
   'vic_race': 'White Hispanic',
   'solved': False},
  {'occur_year': '2006',
   'boro': 'The Bronx',
   'precinct': 44,
   'statistical_murder_flag': 'No',
   'vic_age_group': '18-24',
   'vic_sex': 'Female',
   'vic_race': 'White Hispanic',
   'solved': False}]}

In [71]:
## type of data
type(guns_s)

dict

In [73]:
## get keys
guns_s.keys()

dict_keys(['gun-data'])

In [77]:
## turn into a dataframe
pd.DataFrame(guns_s.get("gun-data"))

,occur_year,boro,precinct,statistical_murder_flag,vic_age_group,vic_sex,vic_race,solved
0,2006,The Bronx,41,No,25-44,Male,White Hispanic,True
1,2006,Manhattan,34,No,18-24,Male,White Hispanic,True
2,2006,Manhattan,34,No,18-24,Male,White Hispanic,False
3,2006,The Bronx,44,No,18-24,Female,White Hispanic,False

## Writing JSON

Not too many reasons **for us** to write a list of dictionaries as a JSON object to an external file, unless you are building web interactives.

But we might want to more easily inspect JSON.

## Exploring nested data

In [ ]:
## what type of data
with open("countries")

In [ ]:
## go in one level

In [ ]:
## what are the keys

In [ ]:
## pull out deeper key

In [ ]:
## get value from deeper key