# Taming ```JSON ```

## Part 2: flattening nested data

While JSON, or JavaScript Object Notation, is a widely-used light-weight data storage format, it can be difficult to parse because of its deeply nested logic.

Let's explore different ways to flatten nested ```JSON*```.

```*``` JSON's versatility makes customization limitless - which also means there is **NO "one-solution-fit-all"** and often **no simple solution** to flatten all JSON data in the wild.

In [ ]:
## import libraries
import pandas as pd
import requests

#### Read this simple nested ```JSON``` formatted data:

In [ ]:
## run this cell to capture json object in memory
json_obj = {
    'publication': 'Bloomberg news',
    'location': 'New York',
    'reach': "Global",
    'info': {
        'editor': 'John Micklethwait',
        'contacts': {
          'email': {
              'tips': 'tips@bloomberg.net',
              'general': 'info@bloomberg.net'
          },
          'tel': '123456789',
      }
    }
}

## ```json_normalize()```

This powerful method helps us flatten nested ```json```.

#### Basic Syntax:

###### ```pd.json_normalize(list or dictionary)```

In [ ]:
#### Normalize json_obj, a single dictionary:

#### Normalize a list of dictionaries:

In [ ]:
## a list of nested json

json_list_obj = [
{
    'publication': 'Bloomberg news',
    'location': 'New York',
    'reach': "Global",
    'info': {
        'editor': 'John Micklethwait',
        'contacts': {
          'email': {
              'tips': 'tips@bloomberg.net',
              'general': 'info@bloomberg.net'
          },
          'tel': '123456789',
      }
    }
},

{
    'publication': 'The New York Times',
    'location': 'New York',
    'reach': "Global",
    'info': {
        'editor': 'Joshep Kahn',
        'contacts': {
          'email': {
              'tips': 'tips@nytimes.com',
              'general': 'info@nytimes.com'
          },
          'tel': '987654321',
      }
    }
}

]

In [ ]:
## type

In [ ]:
## call object, INDENT 2

In [ ]:
## type of object list holds

In [ ]:
## turn into a dataframe

In [ ]:
## normalize list of dicts

In [ ]:
## control the levels into which you want to enter the nest
pd.json_normalize(json_list_obj, max_level = 1)

In [ ]:
# level 2

In [ ]:
# level 3

In [ ]:
# default level

## Let's deal with nested JSON

Some mock JSON to practice:

In [ ]:
nested_j = '''
{
	"data": [
		{
			"fundID": 1,
			"firstName": "Michael",
			"lastName": "Chen",
			"categories": [
				{
					"type": "hedge",
					"description": "Quantitative Trading Strategies"
				}
			],
			"under_investigation": false
		},
		{
			"fundID": 2,
			"firstName": "Jennifer",
			"lastName": "Rodriguez",
			"categories": [
				{
					"type": "venture",
					"description": "Early Stage Tech Startups"
				}
			],
			"under_investigation": false
		},
		{
			"fundID": 3,
			"firstName": "David",
			"lastName": "Thompson",
			"categories": [
				{
					"type": "private equity",
					"description": "Healthcare Acquisitions"
				}
			],
			"under_investigation": true
		},
		{
			"fundID": 4,
			"firstName": "Amanda",
			"lastName": "Park",
			"categories": [
				{
					"type": "mutual fund",
					"description": "Diversified Growth Portfolio"
				}
			],
			"under_investigation": false
		},
		{
			"fundID": 5,
			"firstName": "Robert",
			"lastName": "Williams",
			"categories": [
				{
					"type": "hedge",
					"description": "Cryptocurrency Arbitrage"
				}
			],
			"under_investigation": true
		}
	]
}
'''

In [ ]:
## TYPE

In [ ]:
## LOAD TO READ

In [ ]:
## TYPE

In [ ]:
## TURN TO DF

In [ ]:
## NORMALIZE

## `json_normalize()` with `record_path` parameter

The `record_path` parameter specifies which nested array to flatten into rows. Each element in that array becomes a separate row in the resulting DataFrame.

#### Single path syntax:

###### `pd.json_normalize(data, record_path="single_path")`

Use this when the array you want to flatten is at the top level.

#### Multiple paths syntax:

###### `pd.json_normalize(data, record_path=["first_path", "second_path"])`

Use this to drill down through nested levels. The list represents the path to navigate: go into "first_path", then into "second_path".

**Without `record_path`**: Only top-level fields are normalized.

**With `record_path`**: The specified nested array is flattened, with each array element becoming its own row.

<hr>

A ```record path``` is the direction (or path) to the items you want to flatten in your nested JSON structure.

- A ```record```is each item in JSON that needs flattening
- A ```path``` is the direction to that record.
<hr>

In [ ]:
## let's flatten just the top level

In [ ]:
## provide record path to mock hedgefund investigations

In [ ]:
## note the difference when we call f_data

In [ ]:
## SIMPLE RECORD PATH

In [ ]:
## basic normalize WITH RECORD PATH of categories

Notice that we lost some of the data. The solution:
## `json_normalize()` with `record_path` and `meta` parameters

**`record_path`**: Specified which nested array to flatten into rows, with each element in that level becoming a separate row.

**`meta`**: Specifies parent-level fields to preserve and repeat on each flattened row. Without `meta`, you lose the parent data when flattening nested arrays.

#### Syntax:
```python
pd.json_normalize(data,
                  record_path="nested_json",
                  meta=["field1", "field2", "field3"])
```

**Why use `meta`?**

When you flatten a nested array with `record_path`, only the data *inside* that array appears in your DataFrame. The `meta` parameter brings down parent-level fields so you can see which parent record each flattened row came from.

**Example:** Flattening `categories` json while keeping `fundID`, `firstName`, and `lastName` from the parent level:
```python
pd.json_normalize(data,
                  record_path=["data", "categories"],
                  meta=[["data", "fundID"],
                        ["data", "firstName"],
                        ["data", "lastName"]])
```

In [ ]:
## add single meta data

In [ ]:
## list of all column headers

In [ ]:
## add multiple meta data

## Multiple nested data

In [ ]:
data = [

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Canis Lupus",
			"common_name": "Gray Wolf",
			"relations": [{
				"domesticated": False,
				"social": True
			}]
		}]
	},
	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Panthera Leo",
			"common_name": "Lion",
			"relations": [{
				"domesticated": False,
				"social": True
			}]
		}]
	},

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Panthera Tigris",
			"common_name": "Tiger",
			"relations": [{
				"domesticated": False,
				"social": False
			}]
		}]
	},

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Equus ferus",
			"common_name": "Horse",
			"relations": [{
				"domesticated": True,
				"social": True
			}]
		}]
	}
]

In [ ]:
## get top keys

In [ ]:
## what type of data

In [ ]:
## in the first dict, tap species to see what that key holds

In [ ]:
## find the keys within relations

In [ ]:
## what happens if we straight up normalize

In [ ]:
## provide record_paths

In [ ]:
## get path to relations

In [ ]:
## recall data for a moment

In [ ]:
## pass meta data to it

In [ ]:
## call cols

In [ ]:
## species df

### Super deeply nested data

In [ ]:
## add another layer
## note that within species, there are now two lists of dicts

data = [

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Canis Lupus",
			"common_name": "Gray Wolf",
			"relations": [{
				"domesticated": False,
				"social": True
			}],
			"characteristics": [{
				"color": "Gray",
				"carnivore": True
			}]
		}]
	},
	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Panthera Leo",
			"common_name": "Lion",
			"relations": [{
				"domesticated": False,
				"social": True
			}],
			"characteristics": [{
				"color": "Yellow",
				"carnivore": True
			}]
		}]
	},

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Panthera Tigris",
			"common_name": "Tiger",
			"relations": [{
				"domesticated": False,
				"social": False
			}],
			"characteristics": [{
				"color": "Striped",
				"carnivore": True
			}]
		}]
	},

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Equus Ferus",
			"common_name": "Horse",
			"relations": [{
				"domesticated": True,
				"social": True
			}],
			"characteristics": [{
				"color": "Multiple",
				"carnivore": False
			}]
		}]
	}
]

In [ ]:
## make df

In [ ]:
## Normalize.

In [ ]:
## run json normalize on species

In [ ]:
## provide species as path

## We can separate relations and characteristics one at a time...

but ```json_normalize()``` can't flatten BOTH the "characteristics" level AND the "relations" level at the same time:

In [ ]:
##  add characteristics to the record_path
## WILL BREAK!

`record_path` is designed to accept only ONE path, not multiple paths. It's a limitation of how the parameter works.

**Why doesn't pandas support multiple paths?**

It would be ambiguous. If you flatten two different paths from the same parent object, how should they be combined?

Pandas doesn't try to guess.

```json_normalize()``` is intentionally limited to flattening one level at a time to keep the behavior predictable and **unambiguous**.

The reality is that ```JSON``` is far too versatile and flexible for ```json_normalize()``` to work in every situation. ```json_normalize()``` is simply NOT a universal parser and won't work in one go for every complex situation.

## SOLUTION?

Our approach: create two data frames and merge them on a common column.

In [ ]:
## create a df for relations
## note we need few meta data, just enough to find a common colum.

In [ ]:
## create a df for characteristics

In [ ]:
## merge the two

In [ ]:
## better way to merge if you have common columns

## Dealing with JSON's flexibility

In [ ]:
## Run this again
## This is the json with a list with two nested dicts
data = [

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Canis Lupus",
			"common_name": "Gray Wolf",
			"relations": [{
				"domesticated": False,
				"social": True
			}],
			"characteristics": [{
				"color": "Gray",
				"carnivore": True
			}]
		}]
	},
	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Panthera Leo",
			"common_name": "Lion",
			"relations": [{
				"domesticated": False,
				"social": True
			}],
			"characteristics": [{
				"color": "Yellow",
				"carnivore": True
			}]
		}]
	},

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Panthera Tigris",
			"common_name": "Tiger",
			"relations": [{
				"domesticated": False,
				"social": False
			}],
			"characteristics": [{
				"color": "Striped",
				"carnivore": True
			}]
		}]
	},

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Equus Ferus",
			"common_name": "Horse",
			"relations": [{
				"domesticated": True,
				"social": True
			}],
			"characteristics": [{
				"color": "Multiple",
				"carnivore": False
			}]
		}]
	}
]

## Parameters to deal with JSON's flexibility:

- Use ```meta_prefix = 'someMetaPrefix-'``` to add a marker that tells you that the column originated as ```meta``` data.
- Use ```record_prefix = 'someRecordPrefix-'``` to add a marker that tells you that the column originated as ```record_path``` data.

In [ ]:
## pass meta data to it

## Dealing with ```key-value``` pair variability

In [ ]:
## some missing key value pairs
data = [

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Canis Lupus",
			"common_name": "Gray Wolf",
			"relations": [{
				"domesticated": False,
				"social": True
			}]
		}]
	},
	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Panthera Leo",
			"common_name": "Lion",
			"relations": [{
				"domesticated": False,
				"social": True
			}]
		}]
	},

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Panthera Tigris",
			"common_name": "Tiger",
			"relations": [{
				"domesticated": False,
				"social": False
			}]
		}]
	},

	{
		"kingdom": "Animalia",
		"class": "Mammalia",
		"species": [{
			"scientific_name": "Equus ferus",
			"relations": [{
				"social": True
			}]
		}]
	}
]

In [ ]:
## will throw error because of missing key-value pairs
## this will break

## Dealing with JSON's flexibility
- Use ```errors='ignore'``` will ignore ```KeyError``` if keys listed in meta are not always present. In other words, because of JSON's flexibility, some nested data might not have the same number of keys.

In [ ]:
## add errors ignore

### Global Covid Data (Nested Json from url)

In [ ]:
## request data
url = "https://epicovcharts.bii.a-star.edu.sg/variants-dashboard/data/variants_countries_count.json"
response = requests.get(url)
response

## AP Election Data

The Associated Press election feed provides wickedly nested election data.

[Acquire this excerpt](https://raw.githubusercontent.com/sandeepmj/datasets/main/va-election-AP.json) somehow and flatten all nested elements.

In [ ]:
import requests

In [ ]:
## create more cells as necessary
url = "https://raw.githubusercontent.com/sandeepmj/datasets/main/va-election-AP.json"

response = requests.get(url)